.container .row .noverlay {
  display: block !important;
}

.container .row .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  z-index: 2;
  overflow: auto;
}

.container .row .page {
  border: 0;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  color: white;
  padding: 15px;
  width: 800px;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .row .page .col-lg-5 .row-0 {
  height: 500px;
}

.container .row .page .col-lg-5 .row-0 .img {
  position: relative;
  height: 483px;
}

.container .row .page .col-lg-5 .row-0 .img .slideImg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .row .page .col-lg-5 .row-0 .img .slideImg img {
  width: 100%;
  height: 100%;
}

.container .row .page .col-lg-5 .row-0 .img .show {
  opacity: 1 !important;
}

.container .row .page .col-lg-5 .row-0 .img .leftIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.container .row .page .col-lg-5 .row-0 .img .rightIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.container .row .page .col-lg-5 .row-1 {
  width: 320px;
  height: 459px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .row .page .col-lg-5 img {
  opacity: 1;
  margin-bottom: 10px;
  max-width: 100%;
  width: 100%;
}

.container .row .page .col-lg-7 {
  text-align: left;
  overflow: hidden;
  margin-left: 5px;
}

.container .row .page .col-lg-7 .heading h2 {
  color: black;
}

.container .row .page .col-lg-7 .heading .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .row .page .col-lg-7 .heading .price h3 {
  color: #0a9b0a;
}

.container .row .page .col-lg-7 .heading .price h4 {
  text-decoration: line-through;
  color: grey;
  font-size: 20px;
}

.container .row .page .col-lg-7 .accordions {
  overflow: hidden;
}

.container .row .page .col-lg-7 .accordions hr {
  margin: unset;
  color: gray;
  width: 435px;
  margin-left: 8px;
  height: 1px;
}

.container .row .page .col-lg-7 .accordions .accordion {
  background-color: white;
  color: #4285f4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .row .page .col-lg-7 .accordions .accordion i {
  float: right;
}

.container .row .page .col-lg-7 .accordions .active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container .row .page .col-lg-7 .accordions .active,
.container .row .page .col-lg-7 .accordions .accordion:hover {
  color: #3672d3;
}

.container .row .page .col-lg-7 .accordions .panel {
  padding: 0 18px;
  color: grey;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.container .row .page .col-lg-7 .selectmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .row .page .col-lg-7 .selectmenu .form-select {
  border: none;
  cursor: pointer;
  color: #4285f4;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .row .page .col-lg-7 .buttons {
  cursor: pointer;
  text-align: center;
}
/*# sourceMappingURL=sass.css.map */